body {
    background-color: black;
}

/* TEXTS */

h1 {
    color: white;
    text-align: left;
    font-family: "arial", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-style: normal;
    text-shadow: 4px 4px 6px black, 0 0 25px blue, 0 0 5px darkblue;
}


a {
    text-decoration: none;
}


h2 {
    color: white;
    text-align: left;
    font-family: "Georgia", serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
}

h3 {
    color: white;
    text-align: left;
    font-family: "garamond", serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 200;
    font-style: italic;
}

p {
    color: white;
    font-size: 25px;
    font-family: "georgia", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.column p {
    font-size: 18px;
    color: white;
    text-align: left;
    font-style: italic;
}

a {
    color: white;
    font-size: 14px;
    font-family: "garamond", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    display: block;
    margin-bottom: 1px;
}

.artworks a {
    font-size: 38px;
}

.artworks {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 50px rgb(0, 255, 0), 0 0 20px rgb(161, 255, 192);
}








/* HORIZONTAL IMAGE ALIGNMENT */

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.row {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
}

.column p {
    margin: 10px 0 0 0;
    color: white;
    text-align: left;
}






/* VERTICAL IMAGE ALIGNMENT */

.container-vertical {
    padding: 10px;
}

.line {
    width: 200px;
    margin: 20px 40px;
}

/* image size */

.line img {
    width: 1700px;
}





/* VIDEO BOXES */

.auto-resizable-iframe {
    max-width: 2000px;
    margin: 0 auto;
}

.auto-resizable-iframe>div {
    position: relative;
    padding-bottom: 56.25%;
    height: 0px;
}

.auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


/* HOVER AND METADATA */

.metadata {
    position: fixed;
    left: var(--pointer-x);
    /* Listen to the JavaScript X */
    top: var(--pointer-y);
    /* Listen to the JavaScript Y */

    /* Takes it out of the title line entirely */
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    background: #111;
    color: #000000;
    padding: 10px 20px;
    border: 1px solid #444;
    border-radius: 0px;
    z-index: 9999;
    display: flex;
    gap: 10px;
    /* This prevents the "stuck at top-left" look before JS kicks in */
    transform: translate(-50%, -50%);
}

/* Metadata on Hover */
a:hover .metadata {
    background: rgba(8, 255, 197, 0.833);
    visibility: visible;
    opacity: 1;
    border-color: white;
}

/* Add commas between medium items */
.medium:not(:last-child)::after {
    content: ", ";
    /* Adds the comma and a space */
    color: #000000;
    /* You can make the comma a subtle gray */
    margin-right: 4px;
    /* Adjust spacing as needed */
}


/* Image preview box */

#image-preview-container {
    position: fixed;
    top: 50%;
    /* Center it vertically */
    right: 1vw;
    /* Gap from the right edge */
    transform: translateY(-50%);
    /* Perfect vertical alignment */

    /* Responsive Width */
    width: 50vw;
    /* 50% of the screen width */
    min-width: 200px;
    /* Won't get smaller than this */
    max-width: 800px;
    /* Won't get larger than this */
    height: auto;

    background: white;
    border: 1px solid rgb(255, 255, 255);
    outline: 3px solid #fe00e0;
    z-index: -1;
    display: none;
    /* Hidden until JS triggers it */
    overflow: hidden;
    pointer-events: none;
    box-shadow: #0048ff 0px 0px 30px;
}

#main-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Crucial so the image fills the star points nicely */
    display: block;
}